@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&family=Bungee+Tint&display=swap');

body{
    margin:0;
    font-family: "Baskervville SC", serif;
}

.icon{
    height: 40px;
    width: 40px;
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.icon-area{
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-name{
    font-weight: bold;
}


.menu-area{
    margin-right: 10px;
}

li{
    padding: 5px;
    border-radius: 2px;
    transition: transform 0.5s,background-color 0.5s;
}

li:hover{
    transform: scale(1.1);
    background-color: aliceblue;
    border-bottom: 2px solid black;
    cursor:pointer;
}

.main-content{
    background-image: url(../IMAGES/main.webp);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.main-heading{
    font-family: "Bungee Tint", sans-serif;
}


.services{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    justify-content: space-evenly;
}

.services-heading{
    text-align: center;

}


.card1,.card2,.card3,.card-img1,.card-img2,.card-img3{
    max-width: 300px;
    border: 1px solid black;
    text-align: center;
    border-radius:5px;
}

.about-us{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: aliceblue;
    justify-content: space-evenly;
    margin-top: 20px;
}

.side-image{
    max-width: 400px;
}
.side-text{
    max-width: 500px;
    text-align: justify;
}




.gallery{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 40px;
  
}
.gallery-text{
    grid-row-start: 1;
    grid-column: 2/4;
    grid-row: 1/3;
    background-image: url(../IMAGES/gallery.jpeg);
    background-repeat: no-repeat;
    border-radius: 5px;
}
.g1{
    grid-row: 1/3;
    background-image: url(../IMAGES/1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.g2{
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url(../IMAGES/2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.g3{
    grid-row: 2/3;
    grid-column: 3/4;
    background-image: url(../IMAGES/3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.g4{
    grid-row-start: 3;
    background-image: url(../IMAGES/4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.g5{
    grid-row-start: 3;
    background-image: url(../IMAGES/5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.g6{
    grid-row-start: 3;
    background-image: url(../IMAGES/6.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.footer{
    text-align: center;
    background-color: rgb(54,28,28);
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}



@media only screen and (max-width:700px){
    .side-text{
        padding: 10px;
    }


}